.panel.panel-default
  .panel-body
    .pull-left
      %img.media-object

    .article
      %h4= full_name(match)
      = truncate(match.summary, length: 150)

  %footer.panel-footer
    %strong
      Match: 
      = match_percentage(match)

      .pull-right
        = link_to "Add Friend", friendships_path(friend_id: match.id, authenticity_token: form_authenticity_token), method: :post

