- content_for :title, "Matches"

%h1 Your matches
%p These are users whose political views are very similar to yours. Add them as friends and start sharing ideas!

- unless @matches.empty?
  %ol.unstyled
    - @matches.each do |match|
      = render partial: 'match', locals: {match: match}
- else
  .alert.alert-warning
    There are currently no new matches!
