.jumbotron
  %h1 Welcome to Branch
  %h2 The decentralized democracy system
  %p The idea is to use the "matching" concept from online dating websites and combine it with the anonymous democracy concepts from popular websites like Reddit to allow ideas to form, grow, and change organically.
  %br/
  = link_to "Get started!", new_user_registration_path, :class => 'btn btn-primary btn-lg'
