.jumbotron
  %h1 Welcome to Branch
  %h2 The decentralized democracy system
  %p I'm thinking over here is where I'll put a bunch of text and shit that goes into further detail. I guess I could just steal something from the github readme, but I haven't gotten around to it yet
  %br/
  = link_to "Get started!", new_user_registration_path, :class => 'btn btn-primary btn-lg'
