- content_for :title, "Feed"

%ul.unstyled.feed
  - @feed_items.each do |item|
    %li
      %article.panel.panel-default
        %header.panel-heading
          %strong=  link_to item.user.username 
          = feed_item_verb(item)
        .panel-body
          = render item.feedable

        .panel-footer.clearfix
          = voteable_footer(item.feedable)
