.media
  .pull-left
    = image_tag proposal.user.profile.avatar(:feed), :class => 'media-object img-thumbnail'

  .media-body
    %h2= link_to proposal.subject, proposal

    :markdown
      #{truncate(proposal.body, length: 150)}
