- content_for :title, 'My Proposals'

%h1 My Proposals

= link_to 'New Proposal', new_proposal_path

%br/
%br/

- unless @proposals.empty?
  %ul.unstyled
    - @proposals.each do |proposal|
      %li
        %article.panel.panel-default
          .panel-body
            = render proposal

          .panel-footer
            %strong Score:
            %span(class="#{proposal.votes.ups < proposal.votes.downs ? 'text-danger' : ''}")
              = proposal.votes.ups - proposal.votes.downs

