<!DOCTYPE html>
<html>
<head>
  <title>Matcher</title>
  <%= stylesheet_link_tag    "matcher/application", media: "all" %>
  <%= javascript_include_tag "matcher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
