!!! html
%html
  %head
    %title= content_for(:title) || "Branch: Decentralized Democracy"
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag "application"

  %body
    %header
      = render partial: 'shared/navbar'

    = yield

    %footer
      .container
        Some footer stuff will go here

